* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}
p {
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.3rem;
    padding: 15px;
}
.back-img {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50%;
}

header {
    background-color: #466995;
    border-bottom: 2px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header img{
    width: 50px;
    position: absolute;
    margin: 10px;
    display: inline-block;
}
nav ul :hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
nav ul{
    margin: 20px auto;
    margin-left: 1.5rem;
    background-color: #466995;
    width: 100%;
    height: 10%;
    padding: 0 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
nav li{
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    color: #FFF;
    list-style-type: none;
    border: 1px solid white;
    margin: 0 10px;
    width: 120px;
    display: inline-block;
    overflow: hidden;    
    font-size: 16px;
    font-weight: 800;
    line-height: 2em;
}

main {
    position: relative;
    top: 8rem;
}
.banner {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
}