body{
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-image: url('pattern.jpeg');
    text-align: center;
    font-size: 100px;
    color: khaki;
}
h2 {
    color: white;
}
.brushes h2 {
    background-color: rgb(45, 255, 45);
}
.item {
    margin-top: 10px;
    margin-bottom: 10px;
}
strong {
    color: blue;
}
.frames h2 {
    background-color: rgb(247, 109, 109);
}